aiosmtplib==3.0.2
annotated-types==0.7.0
anyio==4.12.1
APScheduler==3.10.4
certifi==2026.1.4
cffi==2.0.0
click==8.3.1
colorama==0.4.6
cryptography==46.0.5
deprecation==2.1.0
dnspython==2.8.0
ecdsa==0.19.1
email_validator==2.2.0
fastapi==0.115.6
gotrue==2.12.4
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
Jinja2==3.1.5
MarkupSafe==3.0.3
packaging==26.0
postgrest==0.19.3
pyasn1==0.6.2
pycparser==3.0
pydantic==2.10.4
pydantic-settings==2.7.1
pydantic_core==2.27.2
PyJWT==2.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.3
realtime==2.5.3
rsa==4.9.1
six==1.17.0
starlette==0.41.3
storage3==0.11.3
StrEnum==0.4.15
supabase==2.11.0
supafunc==0.9.4
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uvicorn==0.34.0
watchfiles==1.1.1
websockets==15.0.1psycopg2-binary==2.9.9